@model ParkingLotWebApp.Models.CarPurposeTypes

@{
    ViewBag.Title = WebPages.CarPurposeTypes_Create;
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@WebPages.CarPurposeTypes</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.Void)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Common.Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(string.Format(Common.Back_To, WebPages.CarPurposeTypes_Index), "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@section topnavmenu{
<ul class="nav navbar-nav">
    <li><a href="@Url.Action("Index", "Home")"><i class="icon-dashboard "></i>&nbsp;儀錶板&nbsp;</a></li>
    @if (User.IsInRole("Admins"))
    {
        <li class="active"><a href="@Url.Action("Index","Cars")"><i class="icon-truck"></i> 車輛維護 </a></li>
            <li><a href="@Url.Action("ListRemainParkingGridAmounts", "ParkingLotsFloor")"><i class="icon-edit"></i> 剩餘車位維護 </a></li>
            <li><a href="@Url.Action("Index", "News")"><i class="icon-bullhorn "></i> 公告維護 </a></li>
    }
    <li><a href="@Url.Action("About", "Home")"><i class="icon-info-sign "></i> 關於 </a></li>
</ul>

}