@model ParkingLotWebApp.Models.CarPurposeTypes

@{
    ViewBag.Title = "Delete";
}

<h2>@ViewBag.Title</h2>

<h3>@string.Format(Common.DeleteConfirmMessage, WebPages.CarPurposeTypes_This)</h3>
<div>
    <h4>@WebPages.CarPurposeTypes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Void)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Void)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Common.Delete" class="btn btn-default" /> |
            @Html.ActionLink(string.Format(Common.Back_To, WebPages.CarPurposeTypes_Index), "Index")
        </div>
    }
</div>
