@model ParkingLotWebApp.Models.CarPurposeTypes

@{
    ViewBag.Title = "Delete";
}

<h2>@ViewBag.Title</h2>

<h3>@string.Format(Common.DeleteConfirmMessage, WebPages.CarPurposeTypes_This)</h3>
<div>
    <h4>@WebPages.CarPurposeTypes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Void)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Void)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Common.Delete" class="btn btn-default" /> |
            @Html.ActionLink(string.Format(Common.Back_To, WebPages.CarPurposeTypes_Index), "Index")
        </div>
    }
</div>
@section topnavmenu{
<ul class="nav navbar-nav">
    <li><a href="@Url.Action("Index", "Home")"><i class="icon-dashboard "></i>&nbsp;儀錶板&nbsp;</a></li>
    @if (User.IsInRole("Admins"))
    {
        <li class="active"><a href="@Url.Action("Index","Cars")"><i class="icon-truck"></i> 車輛維護 </a></li>
            <li><a href="@Url.Action("ListRemainParkingGridAmounts", "ParkingLotsFloor")"><i class="icon-edit"></i> 剩餘車位維護 </a></li>
            <li><a href="@Url.Action("Index", "News")"><i class="icon-bullhorn "></i> 公告維護 </a></li>
    }
    <li><a href="@Url.Action("About", "Home")"><i class="icon-info-sign "></i> 關於 </a></li>
</ul>

}