@model IEnumerable<ParkingLotWebApp.Models.CarPurposeTypes>

@{
    ViewBag.Title = WebPages.CarPurposeTypes_Index;
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink(WebPages.CarPurposeTypes_Create_New, "Create") @if (ViewBag.ReturnUrl != null)
    {
        @:| <a href="@ViewBag.ReturnUrl">@string.Format(Common.Back_To,WebPages.Cars_Edit)</a>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink(Common.Rename, "Edit", new { id = item.Id }) |                
                @Html.ActionLink(Common.Delete, "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@section topnavmenu{
<ul class="nav navbar-nav">
    <li><a href="@Url.Action("Index", "Home")"><i class="icon-dashboard "></i>&nbsp;儀錶板&nbsp;</a></li>
    @if (User.IsInRole("Admins"))
    {
        <li class="active"><a href="@Url.Action("Index","Cars")"><i class="icon-truck"></i> 車輛維護 </a></li>
            <li><a href="@Url.Action("ListRemainParkingGridAmounts", "ParkingLotsFloor")"><i class="icon-edit"></i> 剩餘車位維護 </a></li>
            <li><a href="@Url.Action("Index", "News")"><i class="icon-bullhorn "></i> 公告維護 </a></li>
    }
    <li><a href="@Url.Action("About", "Home")"><i class="icon-info-sign "></i> 關於 </a></li>
</ul>

}