@model IEnumerable<ParkingLotWebApp.Models.CarPurposeTypes>

@{
    ViewBag.Title = WebPages.CarPurposeTypes_Index;
}
@section pageheader{
    <h1 class="page-header">@WebPages.CarPurposeTypes <small>@ViewBag.Title</small></h1>
}
@section breadcrumb{
    <li class="active">@ViewBag.Title</li>
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                </div>
                <h4 class="panel-title">@ViewBag.Title</h4>
            </div>
            <div class="panel-toolbar">
                @if (ViewBag.ReturnUrl != null)
                {
                    <div class="btn-group m-r-5" role="group" aria-label="First group">
                        <a href="@ViewBag.ReturnUrl" class="btn btn-white" title="@string.Format(Common.Back_To, WebPages.Cars_Edit)"><i class="glyphicon glyphicon-arrow-left"></i></a>
                    </div>
                    <div class="btn-group m-l-5" role="group" aria-label="Second group">
                        <a href="@Url.Action("Create",new { ReturnUrl=Request.RawUrl })" class="btn btn-white" title="@WebPages.CarPurposeTypes_Create_New"><i class="glyphicon glyphicon-plus"></i></a>
                    </div>
                }
                else
                {
                    <div class="btn-group m-l-5" role="group" aria-label="First group">
                        <a href="@Url.Action("Create")" class="btn btn-white" title="@WebPages.CarPurposeTypes_Create_New"><i class="glyphicon glyphicon-plus"></i></a>
                    </div>
                }
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="info">
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th></th>
                        </tr>
                    </thead>


                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="text-right">
                                <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-xs btn-primary m-r-5" title="@Common.Rename"><i class="glyphicon glyphicon-refresh"></i></a>
                                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-xs btn-danger m-r-5" title="@Common.Delete"><i class="glyphicon glyphicon-remove"></i></a>
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</div>




