@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<p>Use this area to provide additional information.</p>
@section topnavmenu{
    <ul class="nav navbar-nav">
        <li><a href="@Url.Action("Index", "Home")"><i class="icon-dashboard "></i>&nbsp;儀錶板&nbsp;</a></li>
        @if (User.IsInRole("Admins"))
        {
            <li><a href="@Url.Action("Index","Cars")"><i class="icon-truck"></i> 車輛維護 </a></li>
            <li><a href="@Url.Action("ListRemainParkingGridAmounts", "ParkingLotsFloor")"><i class="icon-edit"></i> 剩餘車位維護 </a></li>
                    <li><a href="@Url.Action("Index", "News")"><i class="icon-bullhorn "></i> 公告維護 </a></li>
        }
        <li class="active"><a href="@Url.Action("About", "Home")"><i class="icon-info-sign "></i> 關於 </a></li>
    </ul>
}