@{
    ViewBag.Title = "Home Page";

    var AreaIds = new Dictionary<string, int>();
    var HasFloor = new Dictionary<string, bool>();
    var SelectedIds = (int[])ViewBag.Selected;
    Dictionary<string, bool> objSelected = new Dictionary<string, bool>();

    foreach (var key in Model.RemainSummary.Keys)
    {
        var _area = Model.RemainSummary[key].FirstOrDefault();

        if (_area == null)
        {
            continue;
        }

        AreaIds.Add(key, _area.Id);
        if (_area.NoneFloor != null){
            HasFloor.Add(key, (_area.NoneFloor.HasValue) ? _area.NoneFloor.Value : false);
        }
        else
        {
            HasFloor.Add(key, false);
        }


        if (SelectedIds.Contains(_area.Id))
        {
            objSelected.Add(key, true);
        }
        else
        {
            objSelected.Add(key, false);
        }
    }

}
@model ParkingLotWebApp.Models.HomeIndexViewModel

<div class="row" style="margin-top:20px;">

    <div class="col-xs-4 col-md-2">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @id = "selectlocationform", @class = "form-horizontal", @role = "form" }))
        {
            @Html.AntiForgeryToken()
            foreach (var key in Model.RemainSummary.Keys)
            {
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="areaId" value="@AreaIds[key]" @((objSelected[key]) ? Html.Raw("checked") : Html.Raw("")) />
                            @key
                        </label>
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-xs-8 col-md-10">
        @foreach (string key in Model.RemainSummary.Keys)
        {
            if (objSelected[key])
            {
                <div class="col-xs-12 col-md-4">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2">@key</th>
                            </tr>
                            <tr>
                                @if (HasFloor[key] == false)
                                {
                                    <th>樓層</th>
                                }
                                <th>剩餘車格位</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item_n in Model.RemainSummary[key])
                            {
                                <tr>
                                    @if (item_n.NoneFloor != null)
                                    {
                                        if (item_n.NoneFloor.HasValue && item_n.NoneFloor.Value)
                                        {
                                            continue;
                                        }
                                    }
                                    
                                    <td>@item_n.樓層名稱</td>
                                    <td>@item_n.剩餘停車格數</td>
                                </tr>
                            }
                        </tbody>



                    </table>
                </div>
            }

        }
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#selectlocationform').on('click', ':checkbox', function () {
                $('#selectlocationform').submit();
            });
        });
    </script>
}

