@{
    ViewBag.Title = WebPages.HomePage_Title;
    if (IsAjax)
    {
        Layout = "";
    }
}
@model ParkingLotWebApp.Models.HomeIndexViewModel
@section PAGECSS{
    <link href="/assets/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <link href="/assets/plugins/powerange/powerange.min.css" rel="stylesheet" />
}
@section PAGEJS{
    <script src="/assets/plugins/switchery/switchery.min.js"></script>
    <script src="/assets/plugins/powerange/powerange.min.js"></script>
    <script src="/assets/js/form-slider-switcher.demo.min.js"></script>
}
@if (!IsAjax)
{
    @section breadcrumb{
        <li class="active">首頁</li>
    }
    @section pageheader{
        <h1 class="page-header">華邦中科廠停管系統 <small>尚餘車位數量查詢</small></h1>
    }

    <div class="row" style="margin-top:20px;" id="autorefresh">
        <div class="col-xs-12 col-sm-4">
            <div class="panel panel-inverse" data-sortable-id="ui-widget-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    </div>
                    <h4 class="panel-title">停車區域</h4>
                </div>
                <div class="panel-body" id="selectAreas">
                    @using (Ajax.BeginForm("Index", null, new AjaxOptions
                    {
                        UpdateTargetId = "selectAreas",
                        HttpMethod = "Post",
                        OnSuccess = "refreshSelect"
                    }, new { @id = "selectlocationform", @class = "form-horizontal", @role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        foreach (var key in Model.Areas.Keys)
                        {
                            <p>
                                <input type="checkbox" name="areaId" value="@key" data-render="switchery" data-theme="default" @((Model.SelectedAreas[key]) ? Html.Raw("checked") : Html.Raw("")) />
                                <span class="text-muted m-l-5 m-r-20">@Model.Areas[key]</span>
                            </p>

                        }
                    }
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-8" id="showFloors">
            @{ Html.RenderPartial("Reload", Model);
            }
        </div>
    </div>
    <script>
        var sharedAreaId = '@ViewBag.AreaId';
    </script>
    @section scripts{

        <script type="text/javascript">
            function autoReload() {
                $('#shared_areaId').val(sharedAreaId);
                setTimeout('$(\'#autoreload\').submit();', 10000); 
            }
            function refreshSelect() {
                init();
                $('#autoreload').submit();
            }
            function init() {
                FormSliderSwitcher.init();
                $.ajaxSetup({ cache: false });
                $('#selectlocationform').live('change', function () {
                   sharedAreaId= $('[name="areaId"]').val();
                    $('#selectlocationform').submit();
                });
                console.debug('event registered.');
                autoReload();
            }

        </script>
    }
                    }
                    else
                    {
                        using (Ajax.BeginForm("Index", null, new AjaxOptions
                        {
                            UpdateTargetId = "selectAreas",
                            HttpMethod = "Post",
                            OnSuccess = "refreshSelect"
                        }, new { @id = "selectlocationform", @class = "form-horizontal", @role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            foreach (var key in Model.Areas.Keys)
                            {
                                <p>
                                    <input type="checkbox" name="areaId" value="@key" data-render="switchery" data-theme="default" @((Model.SelectedAreas[key]) ? Html.Raw("checked") : Html.Raw("")) />
                                    <span class="text-muted m-l-5 m-r-20">@Model.Areas[key]</span>
                                </p>
                            }
                        }
                        <script>
                            var sharedAreaId = '@ViewBag.AreaId';
                        </script>
                    }
