@{
    ViewBag.Title = Resources.WebPages.HomePage_Title;
}
@model ParkingLotWebApp.Models.HomeIndexViewModel
<h2>@Resources.WebPages.HomePage</h2>
<div class="row" style="margin-top:20px;">

    <div class="col-xs-4 col-md-2">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @id = "selectlocationform", @class = "form-horizontal", @role = "form" }))
        {
            @Html.AntiForgeryToken()
            foreach (var key in Model.Areas.Keys)
            {
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="areaId" value="@key" @((Model.SelectedAreas[key]) ? Html.Raw("checked") : Html.Raw("")) />
                            @Model.Areas[key]
                        </label>
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-xs-8 col-md-10">
        @foreach (int key in Model.Areas.Keys)
        {
            if (Model.SelectedAreas[key])
            {
                <div class="col-xs-12 col-md-4">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                @if (Model.RemainSummary[key].All(w => w.NoneFloor == false))
                                {
                                    <th colspan="3">@Model.Areas[key]</th>
                                }
                                else
                                {
                                    <th colspan="2">@Model.Areas[key]</th>
                                }
                            </tr>
                            <tr>
                                @if (Model.RemainSummary[key].All(p => p.NoneFloor == false))
                                {
                                    <th>樓層</th>
                                }
                                <th>@Resources.WebPages.ParkingLotsFloor_CarLastGrid</th>
                                <th>@Resources.WebPages.ParkingLotsFloor_MotoLastGrid</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item_n in Model.RemainSummary[key])
                            {
                                <tr>
                                    @if (item_n.NoneFloor == false)
                                    {
                                        <td>@item_n.樓層名稱</td>
                                        <td>@item_n.剩餘停車格數</td>
                                        <td>@item_n.剩餘機車格數</td>
                                    }
                                    else
                                    {
                                        <td>@item_n.剩餘停車格數</td>
                                        <td>@item_n.剩餘機車格數</td>
                                    }
                                </tr>
                            }
                        </tbody>



                    </table>
                </div>
            }

        }
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#selectlocationform').on('click', ':checkbox', function () {
                $('#selectlocationform').submit();
            });
        });
    </script>
}

