@model IEnumerable<ParkingLotWebApp.Models.ParkingLotsFloor>

@{
    var areaname = ViewBag.AreaName as string;
    if (ViewBag.returnUrl != null)
    {
        ViewBag.Title = string.Format(WebPages.ParkingLotFloors_Index_fromArea, areaname);

    }
    else
    {
        ViewBag.Title = WebPages.ParkingLotFloors_Index;
    }
}
<h2>@ViewBag.Title</h2>

@{
    if (ViewBag.returnUrl != null)
    {
        <p>
            @Html.ActionLink(string.Format(WebPages.ParkingLotFloors_Create_FromArea,areaname), "Create", new { id = ViewBag.AreaId }) |
            @Html.ActionLink(string.Format(Common.Back_To, WebPages.ParkingLotAreas_Index), "Index", "ParkingLotAreas", null, null)
        </p>
    }
    else
    {
        <p>
            @Html.ActionLink(WebPages.ParkingLotFloors_Create_New, "Create")
        </p>
    }
}
<table class="table">
    <tr>
        @if (ViewBag.returnUrl == null)
        {
            <th>
                @Html.DisplayNameFor(model => model.ParkingLotsDetail.Name)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.FloorOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FloorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarTotalGrid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarLastGrid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotoTotalGrid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotoLastGrid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>
            @if (ViewBag.returnUrl == null)
            {
                <th>
                    @Html.DisplayFor(model => item.ParkingLotsDetail.Name)
                </th>
            }
            <td>
                @Html.DisplayFor(modelItem => item.FloorOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FloorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarTotalGrid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarLastGrid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotoTotalGrid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotoLastGrid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdate)
            </td>

            <td>
                @Html.ActionLink(Common.Edit, "Edit", new { id = item.ID }) |
                @Html.ActionLink(Common.Delete, "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
