@model ParkingLotWebApp.Models.HomeIndexViewModel
@{
    ViewBag.Title = WebPages.ParkingLotFloors_ListRemainParkingGridAmounts;
    if (IsAjax)
    {
        Layout = "";
    }
}

@if (!IsAjax)
{
    @section breadcrumb{
        <li class="active">尚餘車位數量維護</li>
    }
    @section pageheader{
        <h1 class="page-header">尚餘車位數量維護 <small>@ViewBag.Title</small></h1>
    }
    @section PAGECSS{
        <link href="/assets/plugins/switchery/switchery.min.css" rel="stylesheet" />
        <link href="/assets/plugins/powerange/powerange.min.css" rel="stylesheet" />
        <link href="/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    }
    @section PAGEJS{
        <script src="/assets/plugins/switchery/switchery.min.js"></script>
        <script src="/assets/plugins/powerange/powerange.min.js"></script>
        <script src="/assets/plugins/gritter/js/jquery.gritter.js"></script>
        <script src="/assets/js/form-slider-switcher.demo.min.js"></script>
    }
    <div class="row" style="margin-top:20px;" id="partialArea">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-inverse" data-sortable-id="ui-widget-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    </div>
                    <h4 class="panel-title">停車區域</h4>
                </div>
                <div class="panel-body" id="selectAreas">
                    @using (Ajax.BeginForm("ListRemainParkingGridAmounts", "ParkingLotsFloor", null, new AjaxOptions
                    {
                        HttpMethod = "Post",
                        UpdateTargetId = "partialArea",
                        OnSuccess = "init"
                    }, new { @id = "selectlocationform", @class = "form-horizontal", @role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        foreach (var key in Model.Areas.Keys)
                        {
                            <p>
                                <input type="checkbox" name="areaId" value="@key" data-render="switchery" data-theme="default" @((Model.SelectedAreas[key]) ? Html.Raw("checked") : Html.Raw("")) />
                                <span class="text-muted m-l-5 m-r-20">@Model.Areas[key]</span>
                            </p>

                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8">
            @foreach (int key in Model.RemainSummary.Keys)
            {
                if (Model.SelectedAreas[key])
                {
                    <div class="col-xs-12 col-md-4">
                        <div class="panel panel-inverse" data-sortable-id="form-slider-switcher-3">
                            <div class="panel-heading">
                                <h4 class="panel-title">@Model.Areas[key]-總尚餘車位數:@Model.RemainSummary[key].Sum(s => s.剩餘停車格數)</h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr class="info">
                                            @if (Model.RemainSummary[key].All(p => p.NoneFloor == false))
                                            {
                                                <th>樓層</th>
                                            }
                                            <th>@WebPages.ParkingLotsFloor_CarTotalGrid</th>
                                            <th>@WebPages.ParkingLotsFloor_CarLastGrid</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item_n in Model.RemainSummary[key])
                                        {
                                            <tr id="@Html.Raw(Model.Areas[key]+"_"+item_n.樓層名稱)">
                                                @if (item_n.NoneFloor == false)
                                                {
                                                    <td>@item_n.樓層名稱</td>
                                                    <td id="car_total_@item_n.ID">@item_n.總停車格數</td>
                                                    <td id="car_@item_n.ID">@item_n.剩餘停車格數</td>
                                                    <td><a href="javascript:showEditModal('car_@item_n.ID','moto_@item_n.ID',@item_n.ID,'@Model.Areas[key]','@item_n.樓層名稱',@item_n.總停車格數,@item_n.剩餘停車格數,@item_n.總機車格數,@item_n.剩餘機車格數);" class="btn btn-xs btn-primary">@ParkingLotWebApp.App_GlobalResources.Common.Edit</a></td>
                                                }
                                                else
                                                {
                                                    <td id="car_total_@item_n.ID">@item_n.總停車格數</td>
                                                    <td id="car_@item_n.ID">@item_n.剩餘停車格數</td>
                                                    <td><a href="javascript:showEditModal('car_@item_n.ID','moto_@item_n.ID',@item_n.ID,'@Model.Areas[key]','@item_n.樓層名稱',@item_n.總停車格數,@item_n.剩餘停車格數,@item_n.總機車格數,@item_n.剩餘機車格數);" class="btn btn-xs btn-primary">@ParkingLotWebApp.App_GlobalResources.Common.Edit</a></td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="modal fade" id="EditRemainGridModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="EditRemainGridModal-label">Modal Dialog</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label col-sm-7" for="form-group-input">@WebPages.ParkingLotsFloor_CarTotalGrid:</label>
                                <div class="col-sm-5">
                                    <label class="control-label form-control-static" for="form-group-input" id="currentValue">1</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label col-sm-7" for="form-group-input">@WebPages.ParkingLotsFloor_CarLastGrid:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="Placecholder" id="targetValue">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-left text-danger" id="valError"></div>
                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">@Common.Close</a>
                    <a href="javascript:onBtnClick();" class="btn btn-sm btn-primary" id="btnSave" data-dismiss="modal">@Common.Save</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-xs-12 col-md-4">
        <div class="panel panel-inverse" data-sortable-id="ui-widget-1">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                </div>
                <h4 class="panel-title">停車區域</h4>
            </div>
            <div class="panel-body" id="selectAreas">
                @using (Ajax.BeginForm("ListRemainParkingGridAmounts", "ParkingLotsFloor", null, new AjaxOptions
                {
                    HttpMethod = "Post",
                    UpdateTargetId = "partialArea",
                    OnSuccess = "init"
                }, new { @id = "selectlocationform", @class = "form-horizontal", @role = "form" }))
                {
                @Html.AntiForgeryToken()
                    foreach (var key in Model.Areas.Keys)
                    {
                <p>
                    <input type="checkbox" name="areaId" value="@key" data-render="switchery" data-theme="default" @((Model.SelectedAreas[key]) ? Html.Raw("checked") : Html.Raw("")) />
                    <span class="text-muted m-l-5 m-r-20">@Model.Areas[key]</span>
                </p>

                    }
                }
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-md-8">
        @foreach (int key in Model.RemainSummary.Keys)
        {
            if (Model.SelectedAreas[key])
            {
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-inverse" data-sortable-id="form-slider-switcher-3">
                <div class="panel-heading">
                    <h4 class="panel-title">@Model.Areas[key]-總尚餘車位數:@Model.RemainSummary[key].Sum(s => s.剩餘停車格數)</h4>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="info">
                                @if (Model.RemainSummary[key].All(p => p.NoneFloor == false))
                                        {
                                        <th>樓層</th>
                                        }
                                <th>@WebPages.ParkingLotsFloor_CarTotalGrid</th>
                                <th>@WebPages.ParkingLotsFloor_CarLastGrid</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item_n in Model.RemainSummary[key])
                                    {
                                    <tr id="@Html.Raw(Model.Areas[key]+"_"+item_n.樓層名稱)">
                                        @if (item_n.NoneFloor == false)
                                            {
                                            <td>@item_n.樓層名稱</td>
                                            <td id="car_total_@item_n.ID">@item_n.總停車格數</td>
                                            <td id="car_@item_n.ID">@item_n.剩餘停車格數</td>
                                            <td><a href="javascript:showEditModal('car_@item_n.ID','moto_@item_n.ID',@item_n.ID,'@Model.Areas[key]','@item_n.樓層名稱',@item_n.總停車格數,@item_n.剩餘停車格數,@item_n.總機車格數,@item_n.剩餘機車格數);" class="btn btn-primary">@ParkingLotWebApp.App_GlobalResources.Common.Edit</a></td>
                                            }
                                            else
                                            {
                                            <td id="car_total_@item_n.ID">@item_n.總停車格數</td>
                                            <td id="car_@item_n.ID">@item_n.剩餘停車格數</td>
                                            <td><a href="javascript:showEditModal('car_@item_n.ID','moto_@item_n.ID',@item_n.ID,'@Model.Areas[key]','@item_n.樓層名稱',@item_n.總停車格數,@item_n.剩餘停車格數,@item_n.總機車格數,@item_n.剩餘機車格數);" class="btn btn-primary">@ParkingLotWebApp.App_GlobalResources.Common.Edit</a></td>
                                            }
                                    </tr>
                                    }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            }
        }
    </div>
}
<script>
    var sAntiForgeryToken = '@Html.GetAJAXAntiForgeryToken()';
</script>
@if (!IsAjax)
{
    @section scripts{
        <script type="text/javascript">          
            $('#btnSave').click(function () {

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EditRemainParkingGridAmounts")',
                    data: {
                        'ID': _areaid,
                        'CarLastGrid': $('#targetValue').val(),
                        'CarTotalGrid': $('#currentValue').val()
                    },
                    dataType: 'json',
                    headers: {
                        'RequestVerificationToken': sAntiForgeryToken
                    },
                    success: function (response) {
                        if (response.Success) {
                            $(_selectCellCar).html(response.Data.CarLastGrid);
                            //$(_selectCellMoto).html(response.Data.MotoLastGrid);
                            _selectCellCar = null;
                            _selectCellMoto = null;
                            $('#selectlocationform').submit();
                        } else {
                            var showErr = '';
                            $(response.Exception.EntityValidationErrors).each(function (i, d) {
                                showErr = showErr + '<p>' + EntityValidationErrors[i] + '</p><br/>';
                            });
                            $('#valError').html(showErr);
                        }

                        //$('#modal').modal('toggle');
                        // $('#EditRemainGridModal').modal('hide');
                        //document.location.reload();
                    }
                });
            });

            function init() {
                FormSliderSwitcher.init();
                //$('#selectlocationform').on('click', ':checkbox', function () {
                //    $('#selectlocationform').submit();
                //});
                $('#selectlocationform').live('change', function () {
                    $('#selectlocationform').submit();
                });

                
            }

            var _areaid = null;
            var _selectCellCar = null;
            var _selectCellMoto = null;

            function showEditModal(carHtmlId, motoHtmlId, areaId, areaName, floorname, limitamount, remainamount, limitmotoamount, remainmotoamount) {
                if (confirm("確定要修改此樓層剩餘車格位數?") == false) {
                    return false;
                    $('#EditRemainGridModal').modal('toggle');
                }

                $('#currentValue').html(limitamount);
                $('#moto_currentValue').html(limitmotoamount);
                $('#targetValue').val(remainamount);
                $('#targetValue').attr('placeholder', remainamount);
                $('#moto_targetValue').val(remainmotoamount);
                $('#moto_targetValue').attr('placeholder', remainmotoamount);
                $('#EditRemainGridModal-label').text('編輯' + areaName + '' + floorname + "的剩餘車位數");
                $('#EditRemainGridModal').modal('show');
                _areaid = areaId;
                _selectCellCar = $('#' + carHtmlId);
                _selectCellMoto = $('#' + motoHtmlId);

            }
        </script>
    }
}
