@model IEnumerable<ParkingLotWebApp.Models.AnnouncementDetail>

@{
    ViewBag.Title = "Index";
}


<div class="row height-600">
    <div class="col-xs-12 col-md-4 left m-t-15">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h3 class="panel-title">
                    公告列表
                    @Ajax.ActionLink(WebPages.News_Create_New, "Create", null, new AjaxOptions() { UpdateTargetId = "replacepageholder", HttpMethod = "Get" }, new { @class = "btn btn-xs btn-default pull-right" })
                </h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    @foreach (var item in Model)
                    {
                        <a class="list-group-item" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace"
                            data-ajax-update="#replacepageholder" href="@Url.Action("Edit",new { id = item.No })">@item.Title<div class="pull-right">@(item.StartDate.Value.ToShortDateString())</div></a> 
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-8 right" >
        <div class="row" id="replacepageholder">
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
    </script>
}
@section menubar{
    <div class="left-nav">
        <div id="side-nav">
            <!-- Menubar Start -->
            <ul id="nav">
                <li><a href="@Url.Action("Index", "Home")"><i class="icon-dashboard "></i> 首頁 </a></li>
                @if (User.IsInRole("Admins"))
                {
                    <li><a href="@Url.Action("Index","Cars")"><i class="icon-truck"></i> 車輛維護 </a></li>
                    <li><a href="@Url.Action("ListRemainParkingGridAmounts", "ParkingLotsFloor")"><i class="icon-edit"></i> 剩餘車位維護 </a></li>
                    <li class="current"><a href="@Url.Action("Index", "News")"><i class="icon-bullhorn "></i> 公告維護 </a></li>
                }
                <li><a href="@Url.Action("About", "Home")"><i class="icon-info-sign "></i> 關於 </a></li>

                @*<li class="current"> <a href="index.html"> <i class="icon-dashboard"></i> Dashboard </a> </li>
                    <li>
                        <a href="#"> <i class="icon-desktop"></i> UI Features <span class="label label-info pull-right">7</span> <i class="arrow icon-angle-left"></i></a>
                        <ul class="sub-menu">
                            <li> <a href="general.html"> <i class="icon-angle-right"></i> General </a> </li>
                            <li> <a href="buttons.html"> <i class="icon-angle-right"></i> Buttons </a> </li>
                            <li> <a href="tabs.html"> <i class="icon-angle-right"></i> Tabs</a> </li>
                            <li> <a href="accordions.html"> <i class="icon-angle-right"></i> Accordions </a> </li>
                            <li> <a href="nestable.html"> <i class="icon-angle-right"></i> Nestable List </a> </li>
                            <li> <a href="grid.html"> <i class="icon-angle-right"></i> Grid </a> </li>
                            <li> <a href="dialogs.html"> <i class="icon-angle-right"></i> Dialogs </a> </li>
                        </ul>
                    </li>*@
            </ul>
            <!-- Menubar End -->
        </div>
    </div>
}