@model ParkingLotWebApp.Models.Cars

@{
    ViewBag.Title = Resources.WebPages.Cars_Delete;
}

<h2>@ViewBag.Title</h2>

<h3>@string.Format(Resources.Common.DeleteConfirmMessage,Resources.WebPages.Cars_This)</h3>
<div>
    <h4>@Resources.WebPages.Cars</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarType)
        </dd>       
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.Common.Delete" class="btn btn-default" /> |
            @Html.ActionLink(string.Format(Resources.Common.Back_To,Resources.WebPages.Cars_Lists), "Index")
        </div>
    }
</div>
