@model ParkingLotWebApp.Models.Cars

@{
    ViewBag.Title = WebPages.Cars_Details;
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@WebPages.Cars</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ETAs.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ETAs.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateUTCTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUTCTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdateUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdateUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdateUTCTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdateUTCTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Common.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(string.Format(Common.Back_To,WebPages.Cars_Lists), "Index")
</p>
@section menubar{
    <div class="left-nav">
        <div id="side-nav">
            <!-- Menubar Start -->
            <ul id="nav">
                <li><a href="@Url.Action("Index", "Home")"><i class="icon-dashboard "></i> 首頁 </a></li>
                @if (User.IsInRole("Admins"))
                {
                    <li class="current"><a href="@Url.Action("Index","Cars")"><i class="icon-truck"></i> 車輛維護 </a></li>
                    <li><a href="@Url.Action("ListRemainParkingGridAmounts", "ParkingLotsFloor")"><i class="icon-edit"></i> 剩餘車位維護 </a></li>
                    <li><a href="@Url.Action("Index", "News")"><i class="icon-bullhorn "></i> 公告維護 </a></li>
                }
                <li><a href="@Url.Action("About", "Home")"><i class="icon-info-sign "></i> 關於 </a></li>

                @*<li class="current"> <a href="index.html"> <i class="icon-dashboard"></i> Dashboard </a> </li>
                    <li>
                        <a href="#"> <i class="icon-desktop"></i> UI Features <span class="label label-info pull-right">7</span> <i class="arrow icon-angle-left"></i></a>
                        <ul class="sub-menu">
                            <li> <a href="general.html"> <i class="icon-angle-right"></i> General </a> </li>
                            <li> <a href="buttons.html"> <i class="icon-angle-right"></i> Buttons </a> </li>
                            <li> <a href="tabs.html"> <i class="icon-angle-right"></i> Tabs</a> </li>
                            <li> <a href="accordions.html"> <i class="icon-angle-right"></i> Accordions </a> </li>
                            <li> <a href="nestable.html"> <i class="icon-angle-right"></i> Nestable List </a> </li>
                            <li> <a href="grid.html"> <i class="icon-angle-right"></i> Grid </a> </li>
                            <li> <a href="dialogs.html"> <i class="icon-angle-right"></i> Dialogs </a> </li>
                        </ul>
                    </li>*@
            </ul>
            <!-- Menubar End -->
        </div>
    </div>
}