@model ParkingLotWebApp.Models.Cars

@{
    ViewBag.Title = WebPages.Cars_Details;
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@WebPages.Cars</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ETAs.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ETAs.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateUTCTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUTCTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdateUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdateUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdateUTCTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdateUTCTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Common.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(string.Format(Common.Back_To,WebPages.Cars_Lists), "Index")
</p>
@section topnavmenu{
<ul class="nav navbar-nav">
    <li><a href="@Url.Action("Index", "Home")"><i class="icon-dashboard "></i>&nbsp;儀錶板&nbsp;</a></li>
    @if (User.IsInRole("Admins"))
    {
        <li class="active"><a href="@Url.Action("Index","Cars")"><i class="icon-truck"></i> 車輛維護 </a></li>
            <li><a href="@Url.Action("ListRemainParkingGridAmounts", "ParkingLotsFloor")"><i class="icon-edit"></i> 剩餘車位維護 </a></li>
            <li><a href="@Url.Action("Index", "News")"><i class="icon-bullhorn "></i> 公告維護 </a></li>
    }
    <li><a href="@Url.Action("About", "Home")"><i class="icon-info-sign "></i> 關於 </a></li>
</ul>

}