@model IEnumerable<ParkingLotWebApp.Models.Cars>

@{
    ViewBag.Title = WebPages.Cars_Lists;
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink(WebPages.Cars_Create_New, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ETAs.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarPurposeTypes.Name)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.Employee.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateUTCTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdateUTCTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ETAs.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => (item.CarPurposeTypes ?? new ParkingLotWebApp.Models.CarPurposeTypes()).Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateUTCTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdateUTCTime)
            </td>
            <td>
                @Html.ActionLink(Common.Edit, "Edit", new { id = item.Id }) |
                @Html.ActionLink(Common.Delete, "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@section topnavmenu{
    <ul class="nav navbar-nav">
        <li><a href="@Url.Action("Index", "Home")"><i class="icon-dashboard "></i>&nbsp;儀錶板&nbsp;</a></li>
        @if (User.IsInRole("Admins"))
        {
            <li class="active"><a href="@Url.Action("Index","Cars")"><i class="icon-truck"></i> 車輛維護 </a></li>
            <li><a href="@Url.Action("ListRemainParkingGridAmounts", "ParkingLotsFloor")"><i class="icon-edit"></i> 剩餘車位維護 </a></li>
                    <li><a href="@Url.Action("Index", "News")"><i class="icon-bullhorn "></i> 公告維護 </a></li>
        }
        <li><a href="@Url.Action("About", "Home")"><i class="icon-info-sign "></i> 關於 </a></li>
    </ul>
}