@model ParkingLotWebApp.Models.News_Body
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Edit";
    if (IsAjax || ViewContext.IsChildAction)
    {
        Layout = null;
    }
    Model.LastUpdateUserId = User.Identity.GetUserId<int>();
    Model.LastUpdateUTCTime = DateTime.Now.ToUniversalTime();
}

@if (!IsAjax)
{
    <h2>Edit</h2>
}
@using (Ajax.BeginForm("Edit","NewsContext",null,new AjaxOptions() { HttpMethod="Post", UpdateTargetId= "editorplaceholder", OnComplete = "saveCaption" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Header_Id)
       
        @Html.TextAreaFor(model => model.Content)
        @Html.HiddenFor(model=>model.Version)       
        @Html.EditorFor(model => model.CreateUserId, null)
        @Html.EditorFor(model => model.CreateUTCTime, null)
        @Html.EditorFor(model => model.LastUpdateUserId, null)
        @Html.EditorFor(model => model.LastUpdateUTCTime, null)       
    </div>
}

@Styles.Render("~/Content/ckeditor/css")
@Scripts.Render("~/bundles/ckeditor/js")
<script src="~/Scripts/ckeditor/lang/@(System.Globalization.CultureInfo.CurrentUICulture.Name.ToLowerInvariant()).js" type="text/javascript"></script>
<script type="text/javascript">
    function saveCaption() {
        $('#newsHeaderEditor').submit();
    }
    function handleAfterCommandExec(event) {
        var commandName = event.data.name;
        // For 'bold' commmand
        console.log(commandName);
        if (commandName == 'save')
            alert("Bold button pressed!");
    }
    $(function () {
        CKEDITOR.editor.replace('@Html.IdFor(model => model.Content)', {

        });
       
    });
</script>
