@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <li class="dropdown navbar-user">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <img src="~/assets/img/user-13.jpg" alt="" />
            <span class="hidden-xs">@User.Identity.GetUserName()</span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu animated fadeInLeft">
            <li class="arrow"></li>
            <li><a href="@Url.Action("UserProfileEdit","Manage",new { id=User.Identity.GetUserId<int>(), returnUrl=Request.Path })">@Common.UserProfileChange</a></li>
            @if (User.IsInRole("Admins"))
            {
                <li>@Html.ActionLink("系統管理", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
            }
            <li class="divider"></li>
            <li><a href="javascript:BookmarkApp.addBookmark($(this));">加到我的最愛</a></li>
            <li class="divider"></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">登出</a></li>
        </ul>
    </li>

}
else
{
    <li><a href="javascript:addBookmarkForBrowser('華邦e停車','http://202.39.229.116');">加到我的最愛</a></li>
    <li>@Html.ActionLink("註冊", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("登入", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
