@model IEnumerable<My.Core.Infrastructures.Implementations.Models.ApplicationRole>

@{
    ViewBag.Title = Common.RoleList;
}

@section pageheader{
    <h1 class="page-header">@Common.ApplicationRole <small>@ViewBag.Title</small></h1>
}
@section breadcrumb{
    <li><a href="@Url.Action("Index","Manage")">@Common.SystemManagement</a></li>
    <li><a href="javascript:;">@Common.ApplicationRole</a></li>    
    <li class="active">@ViewBag.Title</li>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                </div>
                <h4 class="panel-title">@ViewBag.Title</h4>
            </div>
            <div class="panel-toolbar">
                <div class="btn-group m-r-5" role="group" aria-label="First group">
                    <a href="@Url.Action("Index","Manage")" class="btn btn-white" title="@Common.BackToManage"><i class="glyphicon glyphicon-arrow-left"></i></a>
                </div>
                <div class="btn-group m-l-5" role="group" aria-label="First group">
                    <a href="@Url.Action("CreateRole")" class="btn btn-white" title="@Common.CreateRole"><i class="glyphicon glyphicon-plus"></i></a>
                </div>
            </div>
            <table class="table table-responsive table-hover">
                <thead>
                    <tr class="info">
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Void)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreateUserId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreateTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastUpdateUserId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastUpdateTime)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Void)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateUserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastUpdateUserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastUpdateTime)
                            </td>
                            <td>
                                @*<a href="@Url.Action("RoleEdit", new { id = item.Id })" class="btn btn-primary btn-xs m-r-5" title="@Common.Edit"><i class="glyphicon glyphicon-edit"></i></a>*@
                                <a href="@Url.Action("RoleDetails", new { id = item.Id })" class="btn btn-info btn-xs m-r-5" title="@Common.RoleDetails"><i class="glyphicon glyphicon-info-sign"></i></a>
                                @if (item.Name.Equals("Admins", StringComparison.InvariantCultureIgnoreCase) == false &&
    item.Name.Equals("Users", StringComparison.InvariantCultureIgnoreCase) == false)
                                {
                                    <a href="@Url.Action("DeleteRole", new { id = item.Id })" class="btn btn-danger btn-xs m-r-5" title="@Common.Delete"><i class="glyphicon glyphicon-remove"></i></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

