@model My.Core.Infrastructures.Implementations.Models.ApplicationUser

@{
    ViewBag.Title = "刪除帳號";
}
@section pageheader{
    <h1 class="page-header">@Common.ApplicationUser <small>@ViewBag.Title</small></h1>
}
@section breadcrumb{
    <li><a href="@Url.Action("Index","Manage")">@Common.SystemManagement</a></li>
    <li><a href="javascript:;">@Common.ApplicationUser</a></li>
    <li><a href="@Url.Action("AllUsers","Manage")">@Common.UserLists</a></li>
    <li class="active">@ViewBag.Title</li>
}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                </div>
                <h4 class="panel-title">@ViewBag.Title</h4>
            </div>
            <div class="panel-toolbar">
                <div class="btn-group m-r-5" role="group" aria-label="First group">
                    <a href="@Url.Action("AllUsers")" class="btn btn-white" title="@Common.Back_To_UserList"><i class="glyphicon glyphicon-arrow-left"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <h3>@string.Format(Common.DeleteConfirmMessage, Common.ThisUser)</h3>
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DisplayName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DisplayName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.EMail)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EMail)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.CreateUserId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreateUserId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreateTime)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreateTime)
                        </dd>

                    </dl>
                </div>
            </div>
            <div class="panel-footer text-right">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="@Common.Delete" class="btn btn-danger" />
                }
            </div>
        </div>
    </div>
</div>
@*<h2>@ViewBag.Title</h2>

<h3>@string.Format(Common.DeleteConfirmMessage,Common.ThisUser)</h3>
<div>
    <h4>@Common.ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">
        
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink(Common.Back_To_UserList , "Index")
        </div>
    }
</div>*@
