@model My.Core.Infrastructures.Implementations.Models.Menus

@{
    ViewBag.Title = Common.MenuEdit;
}

@section pageheader{
    <h1 class="page-header">@Common.WebSiteName <small>@ViewBag.Title</small></h1>
}
@section breadcrumb{
    <li><a href="@Url.Action("Index", "Manage")">@Common.SystemManagement</a></li>
    <li><a href="javascript:;">@Common.PermissionManagement</a></li>
    <li><a href="javascript:;">@Common.MenuManagement</a></li>
    <li><a href="@Url.Action("MenuList", "Manage")">@Common.MenuList</a></li>
    <li class="active">@ViewBag.Title</li>
}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                </div>
                <h4 class="panel-title">@ViewBag.Title</h4>
            </div>
            <div class="panel-toolbar">
                <div class="btn-group m-r-5" role="group" aria-label="First group">
                    <a href="@Url.Action("MenuList", "Manage")" class="btn btn-white" title="@string.Format(Common.Back_To, Common.MenuList)"><i class="glyphicon glyphicon-arrow-left"></i></a>
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IconCSS, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-1 text-center m-t-5 m-b-5 ">
                                <i class="@Model.IconCSS" id="previewIcon"></i>
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.IconCSS, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.IconCSS, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.AllowAnonymous, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.AllowAnonymous, new { @data_render = "switchery", @data_theme = "default" })
                                    @Html.ValidationMessageFor(model => model.AllowAnonymous, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsExternalLinks, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.IsExternalLinks, new { @data_render = "switchery", @data_theme = "default" })
                                    @Html.ValidationMessageFor(model => model.IsExternalLinks, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ExternalURL, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @if (Model.IsExternalLinks)
                                {
                                    @Html.TextBoxFor(model => model.ExternalURL, new { @class = "form-control" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.ExternalURL, new { @class = "form-control", @disabled = "" })
                                }
                                @Html.ValidationMessageFor(model => model.ExternalURL, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Order, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Order, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ParentMenu, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("ParentMenuId", null, "請選擇...", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ParentMenuId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.System_ControllerActions, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("System_ControllerActionsId", null, "請選擇...", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.System_ControllerActionsId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel-footer">
                    <div class="text-right">
                        <input type="submit" value="@Common.Save" class="btn btn-success" />
                    </div>
                </div>

            }
        </div>
    </div>
    <div class="col-md-6">
        @Html.Action("ListMenuInRoles", new { id = Model.Id })
    </div>
</div>



@section PAGECSS{
    <link href="/assets/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <link href="/assets/plugins/powerange/powerange.min.css" rel="stylesheet" />
}
@section PAGEJS{
    <script src="/assets/plugins/switchery/switchery.min.js"></script>
    <script src="/assets/plugins/powerange/powerange.min.js"></script>
    <script src="/assets/js/form-slider-switcher.demo.min.js"></script>
}
@section scripts{
    <script type="text/javascript">
        function init() {
            FormSliderSwitcher.init();
            $.ajaxSetup({ cache: false });
            $('#@Html.IdFor(model=>model.IsExternalLinks)').live('change', function () {

                if ($('#@Html.IdFor(model=>model.IsExternalLinks)').prop('checked')) {
                    $('#@Html.IdFor(model => model.ExternalURL)').removeProp('disabled');
                } else {
                    $('#@Html.IdFor(model => model.ExternalURL)').val('');
                    $('#@Html.IdFor(model => model.ExternalURL)').prop('disabled', true);
                }
            });
            $('#@Html.IdFor(model => model.IconCSS)').on('input propertychange paste', function () {
                $('#previewIcon').prop('class', $('#@Html.IdFor(model => model.IconCSS)').val());
            });
            //console.debug('event registered.');
            //autoReload();
        }
    </script>
}
