@model My.Core.Infrastructures.Implementations.Models.IndexViewModel
@{
    ViewBag.Title = Common.SystemManagement;
}

@section pageheader{
    <h1 class="page-header">@Common.WebSiteName <small>@ViewBag.Title</small></h1>
}
@section breadcrumb{
    <li class="active">@ViewBag.Title</li>
}

<div class="row">
    @if (string.IsNullOrEmpty((string)ViewBag.StatusMessage) == false)
    {
        <div class="alert alert-success fade in m-b-15">
            <strong>Success!</strong>
            @ViewBag.StatusMessage
            <span class="close" data-dismiss="alert">&times;</span>
        </div>
    }  
    @if (User.IsInRole("Admins"))
    {
        <div class="col-md-4">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    </div>
                    <h4 class="panel-title">@Common.UsersAndRolesManagement</h4>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>帳號管理</dt>
                        <dd>[ @Html.ActionLink("維護", "AllUsers") ]</dd>
                        @if (User.Identity.Name.Equals("root", StringComparison.InvariantCultureIgnoreCase))
                        {
                            <dt>角色管理</dt>
                            <dd>[ @Html.ActionLink("維護", "AllRoles") ]</dd>
                        }
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    </div>
                    <h4 class="panel-title">@Common.PermissionManagement</h4>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>@Common.MenuManagement</dt>
                        <dd>[ @Html.ActionLink("維護", "MenuList") ]</dd>
                    </dl>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    }
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                </div>
                <h4 class="panel-title">@WebPages.ParkingLotAreas</h4>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>停車區域:</dt>
                    <dd>[ @Html.ActionLink("維護", "Index", "ParkingLotAreas") ]</dd>
                    @if (User.Identity.Name.Equals("root", StringComparison.InvariantCultureIgnoreCase))
                    {
                        <dt>員工資料:</dt>
                        <dd>[ @Html.ActionLink("維護", "Index", "Employees") ]</dd>
                        <dt>ETC對應:</dt>
                        <dd>[ @Html.ActionLink("維護", "Index", "ETAs") ]</dd>
                    }
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>


