@model IEnumerable<My.Core.Infrastructures.Implementations.Models.Menus>

@{
    ViewBag.Title = Common.MenuList;
}
@section pageheader{
    <h1 class="page-header">系統選單設定 <small>@ViewBag.Title</small></h1>
}
@section breadcrumb{
    <li><a href="@Url.Action("Index","Manage")">@Common.SystemManagement</a></li>
    <li><a href="javascript:;">@Common.PermissionManagement</a></li>
    <li><a href="javascript:;">@Common.MenuManagement</a></li>
    <li class="active">@ViewBag.Title</li>
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                </div>
                <h4 class="panel-title">@ViewBag.Title</h4>
            </div>
            <div class="panel-toolbar">
                <div class="btn-group m-r-5" role="group" aria-label="First group">
                    <a href="@Url.Action("Index","Manage")" class="btn btn-white" title="@Common.BackToManage"><i class="glyphicon glyphicon-arrow-left"></i></a>
                </div>
                <div class="btn-group m-l-5" role="group" aria-label="First group">
                    <a href="@Url.Action("CreateMenu")" class="btn btn-white" title="新增選單"><i class="glyphicon glyphicon-plus"></i></a>
                </div>
            </div>
            <table class="table table-responsive table-hover">
                <tr class="info">
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IconCSS)
                    </th>
                  
                    <th>
                        @Html.DisplayNameFor(model => model.CreateUserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastUpdateUserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastUpdateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ParentMenu)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-justify">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <i class="@item.IconCSS"></i>
                            @Html.DisplayFor(modelItem => item.IconCSS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateUserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastUpdateUserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastUpdateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParentMenu.Name)
                        </td>
                        <td>
                            <a href="@Url.Action("EditMenu", new { id = item.Id })" class="btn btn-primary btn-xs m-r-5" title="@Common.Edit"><i class="glyphicon glyphicon-edit"></i></a>
                            <a href="@Url.Action("MenuDetails", new { id = item.Id })" class="btn btn-info btn-xs m-r-5" title="@Common.Details"><i class="glyphicon glyphicon-info-sign"></i></a>
                            <a href="@Url.Action("DeleteMenu", new { id = item.Id })" class="btn btn-danger btn-xs m-r-5" title="@Common.Delete"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                }

            </table>

            <div class="panel-body">
         
            </div>
        </div>
    </div>
</div>
