@model My.Core.Infrastructures.Implementations.Models.SetPasswordViewModel
@{
    ViewBag.Title = "建立密碼";
}
@section pageheader{
    <h1 class="page-header">@Common.ApplicationUser <small>@ViewBag.Title</small></h1>
}
@section breadcrumb{
    <li><a href="@Url.Action("Index","Manage")">@Common.SystemManagement</a></li>
    <li><a href="javascript:;">@Common.ApplicationUser</a></li>
    <li><a href="@Url.Action("AllUsers","Manage")">@Common.UserLists</a></li>
    <li class="active">@ViewBag.Title</li>
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                </div>
                <h4 class="panel-title">@ViewBag.Title</h4>
            </div>
            <div class="panel-toolbar">
                <div class="btn-group m-r-5" role="group" aria-label="First group">
                    <a href="@Url.Action("Index")" class="btn btn-white" title="@Common.BackToManage"><i class="glyphicon glyphicon-arrow-left"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <p class="text-info">
                    您沒有此網站的本機使用者名稱/密碼。請新增本機
                    帳戶，這樣一來不需要外部登入即可進行登入。
                </p>
                @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <h4>建立本機登入</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="設定密碼" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>