@model ParkingLotWebApp.Models.ParkingLotAreas
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = Resources.WebPages.ParkingLotAreas_Create_New;
    Model.GPS = null;
    Model.LastUpdateUserId = Model.CreateUserId = User.Identity.GetUserId<int>();
    Model.LastUpdateUTCTime = Model.CreateUTCTime = DateTime.Now;
    Model.Void = false;
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.GPS)
    @Html.HiddenFor(model => model.Void)
    @Html.HiddenFor(model => model.CreateUserId)
    @Html.HiddenFor(model => model.CreateUTCTime)
    @Html.HiddenFor(model => model.LastUpdateUserId)
    @Html.HiddenFor(model => model.LastUpdateUTCTime)

    <div class="form-horizontal">
        <h4>@Resources.WebPages.ParkingLotAreas</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.Common.Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(string.Format(Resources.Common.Back_To,Resources.WebPages.ParkingLotAreas_Index), "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
