@model ParkingLotWebApp.Models.ParkingLotsDetail

@{
    ViewBag.Title = WebPages.ParkingLotAreas_Delete;
}
@section pageheader{
    <h1 class="page-header">@WebPages.ParkingLotAreas <small>@ViewBag.Title</small></h1>
}
@section breadcrumb{
    <li><a href="@Url.Action("Index","Manage")">管理</a></li>
    <li><a href="@Url.Action("Index")">@WebPages.ParkingLotAreas_Index</a></li>
    <li class="active">@ViewBag.Title</li>
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                </div>
                <h4 class="panel-title">@ViewBag.Title</h4>
            </div>
            <div class="panel-toolbar">
                <div class="btn-group m-r-5" role="group" aria-label="First group">
                    <a href="@Url.Action("Index")" class="btn btn-white" title="@string.Format(Common.Back_To, WebPages.ParkingLotAreas_Index)"><i class="glyphicon glyphicon-arrow-left"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <h3>@string.Format(Common.DeleteConfirmMessage, WebPages.ParkingLotAreas_This)</h3>
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Tel)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Tel)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Period)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Period)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LastUpdate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastUpdate)
                        </dd>

                    </dl>
                </div>
            </div>
            <div class="panel-footer text-right">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="@Common.Delete" class="btn btn-danger" />
                }
            </div>
        </div>
    </div>
</div>
