@model ParkingLotWebApp.Models.ParkingLotAreas

@{
    ViewBag.Title = Resources.WebPages.ParkingLotAreas_Delete;
}

<h2>@ViewBag.Title</h2>

<h3>@string.Format(Resources.Common.DeleteConfirmMessage,Resources.WebPages.ParkingLotAreas_This)</h3>
<div>
    <h4>@Resources.WebPages.ParkingLotAreas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateUTCTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUTCTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdateUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdateUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdateUTCTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdateUTCTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.Common.Delete" class="btn btn-default" /> |
            @Html.ActionLink(string.Format(Resources.Common.Back_To,Resources.WebPages.ParkingLotAreas_Index), "Index")
        </div>
    }
</div>
