@model ParkingLotWebApp.Models.ParkingLotsDetail

@{
    ViewBag.Title = WebPages.ParkingLotAreas_Delete;
}

<h2>@ViewBag.Title</h2>

<h3>@string.Format(Common.DeleteConfirmMessage,WebPages.ParkingLotAreas_This)</h3>
<div>
    <h4>@WebPages.ParkingLotAreas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Period)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Period)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Common.Delete" class="btn btn-default" /> |
            @Html.ActionLink(string.Format(Common.Back_To,WebPages.ParkingLotAreas_Index), "Index")
        </div>
    }
</div>
