@model ParkingLotWebApp.Models.ParkingLotsDetail

@{
    ViewBag.Title = WebPages.ParkingLotsDetail_Details;
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@WebPages.ParkingLotAreas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Period)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Period)
        </dd>
        <dt>
            GPS
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude) , @Html.DisplayFor(model=>model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Charge)
        </dt>

        <dd>
            @Html.Raw(Model.Charge)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Common.Edit, "Edit", new { id = Model.ID }) |
    
    @Html.ActionLink(string.Format(Common.Back_To,WebPages.ParkingLotAreas_Index), "Index")
</p>
