@model ParkingLotWebApp.Models.ParkingLotAreas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ParkingLotAreas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Void)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Void)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateUTCTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUTCTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdateUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdateUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdateUTCTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdateUTCTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    
    @Html.ActionLink("Back to List", "Index")
</p>
