@model ParkingLotWebApp.Models.ParkingLotsDetail
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = WebPages.ParkingLotAreas_Create_New;
}
@section pageheader{
    <h1 class="page-header">@WebPages.ParkingLotAreas <small>@ViewBag.Title</small></h1>
}
@section breadcrumb{
    <li><a href="@Url.Action("Index","Manage")">管理</a></li>
    <li><a href="@Url.Action("Index")">@WebPages.ParkingLotAreas_Index</a></li>
    <li class="active">@ViewBag.Title</li>
}
<div class="col-md-12">
    <!-- begin panel -->
    <div class="panel panel-inverse" data-sortable-id="form-slider-switcher-3">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            </div>
            <h4 class="panel-title">@ViewBag.Title</h4>
        </div>
        <div class="panel-toolbar">
            <div class="btn-group" role="group" aria-label="First group">
                <a href="@Url.Action("Index")" class="btn btn-white" title="@string.Format(Common.Back_To, WebPages.ParkingLotAreas_Index)"><i class="glyphicon glyphicon-arrow-left"></i></a>
            </div>
        </div>
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
            <div class="panel-body">
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.Void)
                @Html.HiddenFor(model => model.LastUpdate)
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Tel, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Period, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Period, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Period, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Longitude, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Charge, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea(Html.NameFor(model => model.Charge).ToString(), Html.Raw(Model.Charge).ToString(), new { @class = "ckeditor", @rows = "20" })
                            @Html.ValidationMessageFor(model => model.Charge, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-footer text-right">
                <input type="submit" value="@Common.Save" class="btn btn-success" />
            </div>
        }

    </div>
    <!-- end panel -->

</div>


@section PAGECSS{
    <link href="~/assets/plugins/bootstrap-wysihtml5/src/bootstrap-wysihtml5.css" rel="stylesheet" />
}
@section PAGEJS{
    <script src="~/assets/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/assets/plugins/ckeditor/lang/zh.js"></script>
    <script src="~/assets/plugins/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.js"></script>
    <script src="~/assets/plugins/bootstrap-wysihtml5/src/bootstrap-wysihtml5.js"></script>
    <script src="~/assets/js/form-wysiwyg.demo.min.js"></script>
}
