@model ParkingLotWebApp.Models.ParkingLotAreas
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = Resources.WebPages.ParkingLotAreas_Edit;
    Model.GPS = null;
    Model.LastUpdateUserId = User.Identity.GetUserId<int>();
    Model.LastUpdateUTCTime = DateTime.Now;
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.GPS)
    <div class="form-horizontal">
        <h4>@Resources.WebPages.ParkingLotAreas</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @*
            WARNING: 此欄位當地理資訊需要使用時後才須解除註解
                <div class="form-group">
                @Html.LabelFor(model => model.GPS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GPS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GPS, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Void, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.Void)
                @Html.ValidationMessageFor(model => model.Void, "", new { @class = "text-danger" })

            </div>
        </div>
        @Html.EditorFor(model => model.CreateUserId, null)
        @Html.EditorFor(model => model.CreateUTCTime, null)
        @Html.EditorFor(model => model.LastUpdateUserId, null)
        @Html.EditorFor(model => model.LastUpdateUTCTime, null)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.Common.Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(string.Format(Resources.Common.Back_To,Resources.WebPages.ParkingLotAreas_Index), "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
